{lib_dirs,["deps",".."]}.

{deps, [
  {triq, ".*" , {git, "git://github.com/krestenkrab/triq.git",""}},
  {libprotobuf, ".*", {git, "git://github.com/TensorWrench/libprotobuf.git",""}}
]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_print_enable, true}.
